
<div class="container">
  <%= simple_form_for (@recette) do |f| %>
    <%= f.input :nom %>
    <%= f.input :type_recette, collection: Recette::TYPESRECETTES, label: 'Type de recette' %>
    <%= f.input :nb_parts, label: 'Nombre de parts' %>
    <div class="temps">
      <%= f.input :temps_preparation, label: 'Temps de préparation' %>
      <%= f.input :temps_cuisson, label: 'Temps de cuisson' %>
      <%= f.input :temps_repos, label: 'Temps de repos' %>
    </div>
    <%= f.input :ingredients %>
    <%= f.input :preparation, label: 'Préparation' %>
    <%= f.input :photo, as: :file %>
    <%= f.input :credit_photo, label: 'Crédit photo' %>
    <%= f.input :credit_recette, label: 'Crédit recette' %>
    <%= f.button :submit, 'Valider', class: "btn full-btn-red center-btn" %>
  <% end %>
</div>
