<div class="container container-show-recette">
  <div class="subcontainer-show-recette">
    <div class="recette-banner-show">
      <% if @recette.photo.attached? %>
        <div class="recette-banner-show recette-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path @recette.photo.key %>')">
          <div class="recette-type-nom">
            <div class="type-recette-show">
              <% if @recette.type_recette == 'Entrée' %>
                <p class="type-entree-show"><%= @recette.type_recette%></p>
              <% elsif @recette.type_recette == 'Plat' %>
                <p class="type-plat-show"><%= @recette.type_recette%></p>
              <% elsif @recette.type_recette == 'Dessert' %>
                <p class="type-dessert-show"><%= @recette.type_recette%></p>
              <% elsif @recette.type_recette == 'Apéro' %>
                <p class="type-apero-show"><%= @recette.type_recette%></p>
              <% elsif @recette.type_recette == 'Base' %>
                <p class="type-base-show"><%= @recette.type_recette%></p>
              <% else %>
                <p class="type-cocktail-show"><%= @recette.type_recette %></p>
              <% end %>
            </div>
            <% if @recette.user.photo.attached? %>
              <%= cl_image_tag @recette.user.photo.key, class: "avatar-bordered avatar-show" %>
            <% else %>
              <img class="avatar-bordered avatar-show" src="https://source.unsplash.com/200x200/?person" alt="">
            <% end %>
            <div class="name-author-show">
              <h2><%= @recette.nom %></h2>
              <h4><em>Ajoutée par <%= @recette.user.pseudo %></em></h4>
            </div>
            <div class="credit-photo">
              <% if @recette.credit_photo? %>
                <p>Photo: <%= @recette.credit_photo %></p>
              <% end %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="recette-banner-show recette-img" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('https://source.unsplash.com/1600x900/?cooking')">
          <div class="recette-type-nom">
            <div class="type-recette-show">
              <% if @recette.type_recette == 'Entrée' %>
                <p class="type-entree-show"><%= @recette.type_recette%></p>
              <% elsif @recette.type_recette == 'Plat' %>
                <p class="type-plat-show"><%= @recette.type_recette%></p>
              <% elsif @recette.type_recette == 'Dessert' %>
                <p class="type-dessert-show"><%= @recette.type_recette%></p>
              <% elsif @recette.type_recette == 'Apéro' %>
                <p class="type-apero-show"><%= @recette.type_recette%></p>
              <% elsif recette.type_recette == 'Base' %>
                <p class="type-base-show"><%= @recette.type_recette%></p>
              <% else %>
                <p class="type-cocktail-show"><%= @recette.type_recette %></p>
              <% end %>
            </div>
            <% if @recette.user.photo.attached? %>
              <%= cl_image_tag @recette.user.photo.key, class: "avatar-bordered avatar-show" %>
            <% else %>
              <img class="avatar-bordered avatar-show" src="https://source.unsplash.com/200x200/?person" alt="">
            <% end %>
            <div class="name-author-show">
              <h2><%= @recette.nom %></h2>
              <h4><em>Ajoutée par <%= @recette.user.pseudo %></em></h4>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <div class="recette-show-ingredients-preparation">
    <div class="recette-show-ingredients">
      <h3>Ingredients :</h3>
      <p><%= simple_format(@recette.ingredients) %></p>
      <% if (@recette.temps_preparation + @recette.temps_cuisson + @recette.temps_repos).hour > 0 || (@recette.temps_preparation + @recette.temps_cuisson + @recette.temps_repos).min > 0  %>
        <h3>Durée :</h3>
        <% if @recette.temps_preparation.hour > 0 || @recette.temps_preparation.min > 0 %>
          <i class="fas fa-mortar-pestle"></i> <span><%= @recette.temps_preparation.hour %>h<%= @recette.temps_preparation.min %></span>
        <% end %>
        <br>
        <% if @recette.temps_cuisson.hour > 0 || @recette.temps_cuisson.min > 0 %>
          <%= image_tag "cooking.svg", class: "temps-show" %>  <span><%= @recette.temps_cuisson.hour %>h<%= @recette.temps_cuisson.min %></span>
        <% end %>
        <br>
        <% if @recette.temps_repos.hour > 0 || @recette.temps_repos.min > 0 %>
          <i class="fas fa-pause-circle"></i>  <span><%= @recette.temps_repos.hour %>h<%= @recette.temps_repos.min %></span>
        <% end %>
      <% end %>
    </div>
    <div class="recette-show-preparation">
      <h3>Préparation :</h3>
      <% if @recette.credit_recette? %>
        <p class="credit-recette"><em>Source: <%= @recette.credit_recette %></em></p>
      <% end %>
      <p><%= simple_format(@recette.preparation) %></p>
    </div>
  </div>

  <% if user_signed_in? & @recette.commentaires.exists? %>
    <div class="commentaires-show">
      <hr width="75%" id="trait-commentaires">
<!--       <h5>Commentaires :</h5> -->
      <% @recette.commentaires.each do |commentaire| %>
        <div class="commentaire-all">
          <div class="commentaire-show-photo-pseudo">
            <p><em><%= commentaire.user.pseudo %></em> : "<%= commentaire.content %>"</p>
          </div>
<!--           <div class="commentaire-show-content">
            <p><%= commentaire.content %></p>
          </div> -->
        </div>
      <% end %>
    </div>
  <% end %>

  <%= simple_form_for [ @recette, @commentaire] do |f| %>
    <%= f.input :content, label: false, placeholder: "Ecrire un nouveau commentaire" %>
    <%= f.submit "Poster", class: "btn full-btn-red" %>
  <% end %>

</div>
