<%= link_to recette_path(recette), style: 'text-decoration: none' do %>
  <div class="card-index-recette">
    <% if recette.photo.attached? %>
      <%= cl_image_tag recette.photo.key, crop: :fill, class: "recette-image-index" %>
    <% else %>
      <img class="recette-image-index" src="https://source.unsplash.com/400x300/?cooking" alt="">
    <% end %>
    <div class="card-recette-index-type">
      <% if recette.type_recette == 'Entrée' %>
        <p class="type-entree"><%= recette.type_recette%></p>
      <% elsif recette.type_recette == 'Plat' %>
        <p class="type-plat"><%= recette.type_recette%></p>
      <% elsif recette.type_recette == 'Dessert' %>
        <p class="type-dessert"><%= recette.type_recette%></p>
      <% elsif recette.type_recette == 'Apéro' %>
        <p class="type-apero"><%= recette.type_recette%></p>
      <% else %>
        <p class="type-cocktail"><%= recette.type_recette %></p>
      <% end %>
    </div>
    <% if recette.user.photo.attached? %>
      <%= cl_image_tag recette.user.photo.key, crop: :fill, class: "avatar-bordered avatar-index-card" %>
    <% else %>
      <img class="avatar-bordered avatar-index-card" src="https://source.unsplash.com/200x200/?person" alt="">
    <% end %>
    <div class="card-recette-index-infos">
      <h2><%= recette.nom %></h2>
      <div class="edit-destroy-buttons">
        <div class="author-buttons">
          <% if action_name == 'user_recettes' %>
            <%= link_to recette_path(recette), method: :delete, data: {confirm: "Supprimer la recette ?"} do %>
              <i class="fas fa-trash-alt fa-lg btn-destroy author-button"></i>
            <% end %>
            <%= link_to edit_recette_path(recette) do %>
              <i class="fas fa-pen author-button edit-button"></i>
            <% end %>
          <% end %>
        </div>
      </div>
      <div class="card-recette-index-nb-temps">
        <p><%= recette.nb_parts %> pers.</p>
        <p><%= recette.temps_total %> min</p>
      </div>
    </div>
  </div>
<% end %>
